#section6
    text-align: center
    width: 100%
    padding: 10px 10% 10px 10%
    margin-bottom: 50px
#section6-row
    height: 350px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    gap: 30px

.section6-card
    height: 100%
    width: 25%
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    img
        height: 75%
        width: 100%
    .section6-card-content
        height: 25%
        width: 100%
        background-color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    .section6-role
        font-family: robotoT
        opacity: 0.5
        font-size: 0.8em