#section7
    text-align: center
    width: 100%
    padding: 10px 10% 10px 10%
.section7-map
    width: 100%
    height: 300px
#section7-row
    margin-top: 30px
    display: flex
#section7-col-left
    flex-grow: 1
#section7-col-right
    flex-grow: 2