#section3
    height: 850px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.section3-box
    height: 80%
    width: 80%
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.section3-div1
    height: 20%
    width: 100%
    text-align: center
    button
        background-color: rgb(253,239,242)
        color: rgb(228,60,90)
        height: 28px
        width: 90px
        border: none
        border-radius: 30px
    h2
        font-weight: bold
    span
        color: rgb(228,60,90)
        font-weight: bold

.section3-div2
    height: 38%
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

.section3-div3
    height: 38%
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

.section-3-card
    height: 95%
    width: 22%
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    text-align: center
    i
        color: rgb(228,60,90)

.section-3-card-a
    height: 95%
    width: 22%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.section3-card2
    height: 30%
    width: 100%
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    display: flex
    align-items: center

