#section3
    height: 450px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.section3-box
    height: 80%
    width: 80%
    margin: auto

.section3-div1
    height: 45%
    width: 100%
    text-align: center
    button
        background-color: rgb(253,239,242)
        color: rgb(228,60,90)
        height: 28px
        width: 90px
        border: none
        border-radius: 30px
    h2
        font-weight: bold
    span
        color: rgb(228,60,90)
        font-weight: bold

.section3-div2
    height: 55%
    width: 100%
    display: flex
